<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Generate Salary Slip
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="http://www.nltd.com/">NLTD India</a>.</strong> All rights reserved.
</footer>
